<div class="container p-4" style="overflow:auto;">
    <div class="row">
        {{#each finData}}
            <div class="col-md-3">
                <div class="card text-center mx-auto">
                    <div class="card-body mx-auto">
                        <form class="mx-auto" action="/proyectos/financia/montos" method="POST">
                            <div class="input-group mb-3 mx-auto">
                                <h3 class="card-tittle m-2" name="nombre">
                                    {{nombre}}
                                </h3>
                            </div>
                            <div class="input-group mb-3 mx-auto">
                                <p class="m-2" rows="3" name="descripcion" style="text-overflow: ellipsis;">
                                    {{descripcion}}
                                </p>
                            </div>
                            <div class="input-group mb-3 mx-auto">
                                <p class="m-2" rows="3" name="descripcion" style="text-overflow: ellipsis;">
                                    Cantidad: {{img_url}}
                                </p>
                            </div>
                            <div class="input-group mb-3 mx-auto">
                                <p class="m-2">
                                    {{timeago date}}
                                </p>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <div class="m-3 mx-auto">
                        <p>
                            No hay financiaciones hechas.
                        </p>
                    </div>                
                </div>                
            </div>    
        {{/each}}
    </div>
</div>
