<div class="container p-4">
    <div class="row">
        {{#each montos}}
            <div class="col-md-3" style="height: 100%;">
                <div class="card text-center mx-auto" style="height: 100%;">
                    <div class="card-body mx-auto">
                        <form class="mx-auto" action="/proyectos/financia/financiacion" method="POST">
                            <div class="input-group mb-3 mx-auto" style="display: none;">
                                <input id="listProId" name="monto_id" class="m-2" value={{monto_id}}>
                                    {{monto_id}}
                                </input>
                            </div>
                            <div class="input-group mb-3 mx-auto">
                                <p class="m-2" rows="3" name="descripcion" style="text-overflow: ellipsis;">
                                    Nombre/Descripcion: {{descripcion}}
                                </p>
                            </div>
                            <div class="input-group mb-3 mx-auto">
                                <p class="m-2">
                                    Precio: {{img_url}} :Bs
                                </p>
                            </div>
                            <div class="mb-3 mx-auto">
                                <button class="btn btn-outline-warning btn-block">
                                    Financiar
                                </button>                            
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <div class="m-3 mx-auto">
                        <p>
                            Este proyecto aun no tiene montos creados.
                        </p>
                    </div>                
                </div>                
            </div>    
        {{/each}}
    </div>
</div>