<div class="container p4">
    <div class='row'>
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="m-4">
                        Bienvenido {{user.nombre}}
                    </h3>
                    <a href="/proyectos/add" class='btn btn-outline-warning m-3'>
                        Crear Proyecto
                    </a>
                    <a href="/proyectos/" class='btn btn-outline-warning m-3'>
                        Mis Proyectos
                    </a>
                    <form action="/proyectos/financia" method="POST">
                        <div class="input-group m-3 mx-auto" style="display: none;">
                            <input id="listProId4" name="proyecto_id" class="m-3" value={{proyecto_id}}>
                                {{proyecto_id}}
                            </input>
                        </div>
                        <div class="m-3 mx-auto">
                            <button class="btn btn-outline-warning btn-block">
                                Financia proyectos
                            </button>                            
                        </div>
                    </form>

                    <form action="/proyectos/financiaciones" method="POST">
                        <div class="input-group m-3 mx-auto" style="display: none;">
                            <input id="listProId4" name="proyecto_id" class="m-3" value={{proyecto_id}}>
                                {{proyecto_id}}
                            </input>
                        </div>
                        <div class="m-3 mx-auto">
                            <button class="btn btn-outline-warning btn-block">
                                Mis financiaciones.
                            </button>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>